<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jaylon Dental Clinic Scheduling and Appointment System</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script>
    function fetchAvailableTimes() {
        var service = document.getElementById('id_service').value;
        var date = document.getElementById('id_date').value;

        if (service && date) {
            fetch(`/get-available-times/?service=${service}&date=${date}`)
                .then(response => response.json())
                .then(data => {
                    var timeSelect = document.getElementById('id_time');
                    timeSelect.innerHTML = '';

                    data.forEach(slot => {
                        var option = document.createElement('option');
                        option.value = slot[0];
                        option.text = slot[1];
                        timeSelect.appendChild(option);
                    });

                    // If no available slots, show a message
                    if (data.length === 0) {
                        var option = document.createElement('option');
                        option.value = '';
                        option.text = 'No available slots';
                        timeSelect.appendChild(option);
                    }
                });
        }
    }
</script>

</body>
</html>